@font-face {
    font-family: 'Area Normal';
    src: url('./AreaNormal-Regular.woff2') format('woff2'),
        url('./AreaNormal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Area Normal';
    src: url('./AreaNormal-Bold.woff2') format('woff2'),
        url('./AreaNormal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

